.select {
    margin: 24px 0;
}

.select label {
    display:block;
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 1.2em;
}

.select select {
    background-color: white;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 16px;
    box-sizing: border-box;
}